<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <link rel="stylesheet" href="css/style2.css">
 <title>Document</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <img src="image/logo.jpeg" width="40" height="40" alt="" style="border-radius: 20%;">

    <a class="navbar-brand " href="#" style="font-weight: bold;  color: rgb(206, 243, 255);">MOBIXIN</a>

 <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button> -->
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
 <form class="form-inline my-2 my-lg-0 ml-auto "></form>

<a href="/rehome">
 <button type="button" class="btn btn-success" >HOME</button>
</a>
 </form>
 </div>
 </nav>
 <div class="form">
 <form method="POST" action="/vacin" >
 <div class="elem-group">
 <label for="name">Your Name</label>
 <input type="text" id="name" name="name" placeholder="John Doe" pattern=[A-Z\sa-z]{3,20} required>
 </div>
 <div class="elem-group">
 <label for="ema">Your E-mail</label>
 <input type="text" name="email" placeholder="john.doe@email.com" required>
 </div>
 <div class="elem-group">
 <label for="phone">Your Phone</label>
 <input type="tel" id="phone" name="phone" placeholder="498-348-3872" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
 </div>
 <hr>
 <div class="elem-group inlined">
 <label for="adult">Adults</label>
 <input type="number" id="adult" name="adults" placeholder="2" min="1" required>
 </div>
 <div class="elem-group inlined">
 <label for="child">Children</label>
 <input type="number" id="child" name="children" placeholder="2" min="0" required>
 </div>
 <div class="elem-group inlined">
 <label for="checkin-date"> preferred Date</label>
 <input type="date" id="checkin-date" name="first " required>
 </div>
 <div class="elem-group inlined">
 <label for="checkout-date">last Date</label>
 <input type="date" id="checkout-date" name="last" required>
 </div>
 <div class="elem-group">
 <label for="room-selection">Select vaccine</label>
 <select id="room-selection" name="vaccine_name" required>

 <option >covishield dose 1</option>
 <option>covishield dose 2</option>
 <option>covaxxin dose 1</option>
 <option>covaxxin dose 2</option>
 <option >sputnik</option>
 </select>
 </div>
 <hr>


 <button type="submit" >Book The Rooms</button>

 </form>

 </div>

 <script src="js/qr.js"></script>
 
</body>
</html>