<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="css/style6.css">
</head>
<body>
 <div class="wrapper fadeInDown">
 <div id="formContent">
 <!-- Tabs Titles -->
 <h2 class="active">REGISTER </h2>
 <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
 
 <!-- Icon -->
 <!-- <div class="fadeIn first">
 <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
 </div> -->
 
 <!-- Login Form -->
 <form method="POST" action="/useregister">
 <input type="text" id="login" class="fadeIn second" name="fname" placeholder="first name">
 <input type="text" id="login" class="fadeIn second" name="lname" placeholder="last name">
 <input type="text" id="login" class="fadeIn second" name="middle name" placeholder="middle name">
 <input type="text" id="login" class="fadeIn second" name="Aadharno" placeholder="Ahdhar no">
 <input type="text" id="login" class="fadeIn second" name="address" placeholder="address">
 <input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
 <input type="text" id="login" class="fadeIn second" name="phoneno" placeholder="phone no">
 <input type="password" id="login" class="fadeIn second" name="password" placeholder="password">
 <input type="text" id="login" class="fadeIn second" name="dose" placeholder="Dose">
 <input type="text" id="login" class="fadeIn second" name="age" placeholder="age">

 <input type="text" id="login" class="fadeIn second" name="area" placeholder="area name">







 <input type="submit" class="fadeIn fourth" value="Log In">
 </form>
 
 <!-- Remind Passowrd -->
 <div id="formFooter">
 <a class="underlineHover" href="#">Forgot Password?</a>
 </div>
 
 </div>
 </div>
</body>
</html>