<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="css/style11.css">
</head>
<body>
    
 <form class="login" method="POST" action="/agent">
 <input type="text" name="fname" placeholder="First name">
 <input type="text" placeholder="Last name">
 <input type="text"  name="email" placeholder="email">

 <input type="number" name="age" placeholder="AGE">
 <input type="text" placeholder="ADDRESS">
 <input type="number" name="phoneno" placeholder="PHONE no">
 <input type="text" name="area" placeholder="Area">
 <input type="text" placeholder="District">
 <input type="text" placeholder="PINCODE">
 <input type="text" placeholder="DO YOU HAVE VEHICLE">
 

 
 <button type="submit" onclick="fuck()">Register</button>
 </form>
 <script src="js/qr.js"></script>
</body>



</html>