<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style13.css">
 <title></title>

 </head>
 <body  onload="runOnLoad()">
 <nav class="navbar navbar-expand-lg navbar-light fixed-top">
   <img src="image/logo.jpeg" width="40" height="40" alt="" style="border-radius: 20%;">
</a>
<a class="navbar-brand " href="#" style="font-weight: bold;  color: rgb(0, 0, 0);">MOBIXIN</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <form class="form-inline my-2 my-lg-0 ml-auto">
    <a href="/list">
 <button type="button" class="btn btn-success">Send Vaccine</button>
 </a>
 </form>
 </div>
 </nav>
 <hr>
 <div class="jumbotron jumbotron-fluid jumbotron1">
 <div class="container">
   <h1 style="text-align:center;" ><u>User's Info</u></h1>
    <div id="myUL"></div>
 </div>
</div>
<hr>
 <div class="login">
 <div class="jumbotron jumbotron-fluid">
 <div class="container">
 <h1><u>How to send vaccine?</u></h1><br><br>
 <div class="flex-container">
 <div class="flex-item">
 <div class="padding">
 <h1 >Step 1</h1>
 <h5 class="paddingTop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
 </div>
 </div>
 <div class="flex-item">
 <div class="padding">
 <h1 >Step 1</h1>
 <h5 class="paddingTop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
 </div>
 </div>
 <div class="flex-item">
 <div class="padding">
 <h1 >Step 1</h1>
 <h5 class="paddingTop">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
 </div>
 </div>
 </div>
 </div>
 <br><br><br>
 </div>
 </div>
 <footer>
 <div class="footer" >
 <div class="container-fluid">
 <div class="row">
 <div class="col-sm border-right">
 <p class="paddingTop paddingLeft paddingRight"><b>Address</b></p>
 <p class="paddingLeft paddingRight ">W, P. G. Kher Marg, (32nd Road, Marg, Off Linking Rd, TPS III, Bandra West, Mumbai, Maharashtra 400050</p>
 <p class=" paddingLeft paddingRight paddingBot"><b>Contact No: </b>+91 91720 08770</p>

 </div>
 <div class="col-sm border-right">
 <div class="row">
 <div class="column">
 <p class="paddingTop"><a href="#" class="fa fa-facebook"></a></p>
 </div>
 <div class="column">
 <p class="paddingTop"><a href="#" class="fa fa-twitter"></a></p>
 </div>
 <div class="column">
 <p class="paddingTop"><a href="#" class="fa fa-google"></a></p>
 </div>
 </div>

 <div class="row">
 <div class="column">
 <p class="paddingTop"><a href="#" class="fa fa-linkedin"></a></p>
 </div>
 <div class="column">
 <p class="paddingTop"><a href="#" class="fa fa-instagram"></a></p>
 </div>
 <div class="column">
 <p class="paddingTop"><a href="#" class="fa fa-facebook"></a></p>
 </div>
 </div>

 </div>

 </div>
 </div>
 </div>
 </footer>

 <script src="js/dyn.js"></script>
 </body>
</html>
