<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="css/style7.css">
 <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
</head>
<body>
 <div class="login">
 <div class="login-header">
 <h1>Sign in</h1>
 </div>
 <div class="login-form">
     <form action="/hsign" method="POST">
 <h3>HOSPITAL NAME:</h3>
 <input type="text" name="name" placeholder="HOSPITAL NAME"/><br>
 <!-- <h3>ADMIN NAME:</h3>
 <input type="text" placeholder="ADMIN NAME"/><br> -->
 <!-- <h3>SECURITY CODE:</h3>
 <input type="text" placeholder="Username"/><br>
 <h3>Password:</h3>
 <input type="text" placeholder="HOSPITAL NAME"/><br> -->
 <h3> CONFIRM Password:</h3>
 <input type="password" name="password" placeholder="Password"/>
 <br>
 <button class="login-button" type="submit"> log in</button>
</form>
 <!-- <br>
 <a class="sign-up">Sign Up!</a>
 <br>
 <h6 class="no-access">Can't access your account?</h6> -->
 </div>
 </div>
 <!-- <div class="error-page">
 <div class="try-again">Error: Try again?</div>
 </div> -->
</body>
</html>